<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Estudo NodeJS</title>

	<style type="text/css">

	.container
	{
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.box
	{
		width: 500px;
		height: 400px;
		background: #fff;

		margin: 10px;
		border: 1px solid #D0D0D0;
		box-shadow: 0 0 8px #D0D0D0;

		text-align: center;
	}

	body {
		margin: 0px;
	}

	input
	{
		width: 30%;
	}

	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}

	</style>
</head>
<body>

	{{{body}}}

</body>
</html>