<div class="container">
	<div class="box">
		<form action="/envioFormulario" method="POST">

			<h1> Tela de início da aplicação </h1>
			<p> Apenas uma descrição da tela de início </p>

			<hr>

			<label for="nome_usuario"> Nome: </label>
			<input type="text" name="nome_usuario" id="nome_usuario">

			<br>
			<br>

			<label for="descricao_usuario"> Descricao: </label>
			<input type="text" name="descricao_usuario" id="descricao_usuario">

			<hr>

			<button type="submit">Enviar</button>
		</form>
		<a href="/home"><button>Buscar Dados</button></a>
	</div>
</div>